@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Sableklish';
    src: url('../assets/fontes/Sableklish.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #3B422E;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    height: 10vh;
}

.navbar a {
    text-transform: uppercase;
    margin: auto 5px;
}

.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0%;
    width: 0;
    height: 3px;
    background-color: #7C9156;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link:focus::after {
    width: 100%;
}

.navbar-nav .nav-link.active::after {
    width: 100%;
}

#quem-sou h2,
#formacao h2,
#habilidades h2,
#projetos h2 {
    color: #3B422E;
    font-size: 2.8rem;
    font-weight: 400;
    font-family: 'Sableklish', sans-serif;
}

/* HOME */
#home {
    display: flex;
    align-items: center;
}

#home h1 {
    font-family: 'Sableklish', sans-serif;
    font-size: 4rem;
}

#home button {
    border: 1px solid #3B422E;
    background-color: transparent;
    width: 140px;
    margin: 1rem 5px;
    cursor: pointer;
    /* Adicionado */
}

#home button:hover {
    background-color: #3B422E;
    color: #fff;
    transition: 0.4s;
}

#home .btn i {
    color: #3B422E;
}

#home .btn:hover i {
    color: #fff;
    transition: 0.4s;
}

/* Sobre */
#quem-sou {
    padding: 2rem 2rem 2rem 4rem;
    margin-top: 2rem;
}

#quem-sou p {
    width: 80%;
    margin-top: 2rem;
    line-height: 1.8;
}

#quem-sou .img-eu {
    display: flex;
    justify-content: flex-end;
}

#quem-sou img {
    width: 26rem;
    border-radius: 0 40px 0 40px;
}

/* Formação */
#formacao {
    margin-top: 2rem;
    padding: 2rem 4rem;
}

#formacao h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #7C9156;
}

.timeline-event {
    display: flex;
    align-items: center;
}

.timeline-event-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-event-icon {
    width: 80px;
    height: 80px;
    background-color: #7C9156;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.timeline-event-description {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.infos-formacao {
    height: 8rem;
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos-formacao span {
    font-size: 1.1rem;
    color: #3B422E;
    text-align: center;
    margin: 0;
}


/* Habilidades */
/* Habilidades */
#habilidades {
    text-align: center;
    padding: 5rem 4rem;
}

#habilidades h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#habilidades .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#habilidades .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 1rem;
}

#habilidades .icon-container img {
    width: 60px;
    height: 60px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#habilidades .icon-container img:hover {
    transform: scale(1.1);
}

#habilidades .icon-container p {
    margin: 0.5rem 0;
}

.progress {
    width: 100%;
    height: 5px;
    background-color: #e0e0e0;
    border-radius: 3px;
}

.progress-bar {
    height: 100%;
    border-radius: 3px;
}

.progress-bar.powerbi,
.progress-bar.html,
.progress-bar.css,
.progress-bar.bootstrap,
.progress-bar.git,
.progress-bar.javascript,
.progress-bar.tryhackme,
.progress-bar.mysql {
    background-color: #3B422E;
}


/* Projetos */
#projetos {
    padding: 2rem 4rem;
}

#projetos h2 {
    margin-bottom: 4rem;
}

#projetos .card {
    margin: 15px auto;
}

#projetos a {
    background-color: #3B422E;
    color: #fff;
    transition: 0.4s;
}

#projetos a:hover {
    background-color: transparent;
    color: #3B422E;
    border: 1px solid #3B422E;
}

#projetos button{
    width: 35px;
    height: 35px;
}

/* footer */
.footer {
    background-color: #3B422E;
    color: #fff;
    height: 100px;
    margin-top: 5rem;
    padding: 1rem;
}

.footer p,
i {
    color: #fff;
}

.footer-logo {
    width: 80px;
}

.social-icons a i {
    font-size: 30px;
    margin: 0.5rem;
}